development:
    dialect: postgres
    datasource: dbname=sightings user=postgres password=PASSWORD sslmode=disable host=127.0.0.1
    dir: migrations/postgres
    table: migrations

production:
    dialect: postgres
    datasource: dbname=sightings user=postgres password=PASSWORD sslmode=disable host=127.0.0.1
    dir: migrations/postgres
    table: migrations
