version: '2'

services:

  db:
    image: postgres

  redis:
    image: redis:alpine

  flask:
    build:
      context: ./backend
    environment:
      - FLASK_APP=manage.py
    command: ./wait-for-it.sh db:5432 -- pipenv run flask run
    expose:
      - "5000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:latest
    ports:
      - "8000:8000"
    volumes:
      - ./backend/config/nginx:/etc/nginx/conf.d
    depends_on:
      - flask

  vue:
    build:
      context: ./frontend
    command: bash -c "npm install && npm run dev"
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    depends_on:
      - nginx
