version: '2'

services:

  db:
    image: postgres

  testdb:
    image: postgres

  redis:
    image: redis:alpine

  flask:
    build:
      context: ./backend
    environment:
      - FLASK_APP=sightings/app.py
      - DATABASE_URL=postgres://postgres@db:5432/postgres
      - TEST_DATABASE_URL=postgres://postgres@testdb:5432/postgres
    command: ./wait-for-it.sh db:5432 -- flask run -h 0.0.0.0 -p 5000
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - redis

  vue:
    build:
      context: ./frontend
    environment:
      - HOST=0.0.0.0
      - PORT=8080
    command: bash -c "npm install && npm run dev"
    volumes:
      - ./frontend:/app
    ports:
      - "8080:8080"
    depends_on:
      - flask
