version: '2'

services:

  db:
    image: postgres

  django:
    build:
      context: ./backend
    command: ./wait-for-it.sh db:5432 -- python3 manage.py runserver 0.0.0.0:8000
    expose:
      - "8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db

  nginx:
    image: nginx:latest
    ports:
      - "8000:8000"
    volumes:
      - ./backend/config/nginx:/etc/nginx/conf.d
    depends_on:
      - django

  react:
    build:
      context: ./frontend
    command: bash -c "yarn && yarn start"
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    depends_on:
      - nginx
